[submodule "submodules/rofi"]
	path = submodules/rofi
	url = git@github.com:yqlbu/dot-rofi.git
	branch = x1-carbon
[submodule "submodules/qutebrowser"]
	path = submodules/qutebrowser
	url = git@github.com:yqlbu/dot-qutebrowser.git
	branch = master
[submodule "submodules/lazygit"]
	path = submodules/lazygit
	url = git@github.com:yqlbu/dot-lazygit.git
	branch = master
[submodule "submodules/dunst"]
	path = submodules/dunst
	url = git@github.com:yqlbu/dot-dunst.git
	branch = x1-carbon
[submodule "submodules/lf"]
	path = submodules/lf
	url = git@github.com:yqlbu/dot-lf.git
	branch = master
[submodule "submodules/waybar"]
	path = submodules/waybar
	url = git@github.com:yqlbu/dot-waybar.git
	branch = x1-carbon
[submodule "submodules/swappy"]
	path = submodules/swappy
	url = git@github.com:yqlbu/dot-swappy.git
	branch = master
[submodule "submodules/nvim"]
	path = submodules/nvim
	url = git@github.com:yqlbu/dot-nvim.git
	branch = master
[submodule "submodules/tmux"]
	path = submodules/tmux
	url = git@github.com:yqlbu/dot-tmux.git
	branch = x1-carbon
[submodule "submodules/hypr"]
	path = submodules/hypr
	url = git@github.com:yqlbu/dot-hypr.git
	branch = x1-carbon
